@import './../../assets/styles/variables.scss';

.footer {
    background-color: #5c5050;
    //width: 100vw;
    height: 7vw;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;

}