.wordCard {
    width: 40vw;
    height: 30vw;
    border: 1px solid grey;
    border-radius: 3vw;

    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        background-color: red;
        //width: 50%;
        //height: 50%;
    }
}