@import './../../assets/styles/variables.scss';

.wordCard {
    width: 40vw;
    height: 30vw;
    border: 1px solid $light-grey;
    border-radius: 3vw;
    @include font (2vw, 400);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__btn {
        @include button (15vw, 5vw);
        @include font (1.2vw, 600);
        background-color: rgb(235, 97, 43);
        color: black;
        border: none;

        &:hover {
            transform: scale(1.05);
            background-color: white;
            border: 2px solid rgb(235, 97, 43);
            color: $light-grey
        }
    }

    &__btn-on-load {
        @include button (15vw, 5vw);
        @include font (1.2vw, 600);
        transform: scale(1.05);
        background-color: white;
        border: 2px solid rgb(235, 97, 43);
    }
}