@import './../../assets/styles/variables.scss';

.header {
    background-color: $light-blue;
    @include font (2vw, 400);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 7vw;

    h1 {
        height: fit-content;
    }

    &__nav {
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}