@import './../../assets/styles/variables.scss';

.header {
    background-color: $light-blue;
    @include font (2vw, 400);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vw;

    &__logo {
        text-decoration: none;
        height: fit-content;
        color: $light-grey;
    }


    &__nav {
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.link {
    text-decoration: none;
}