@import "./../../assets/styles/variables.scss";

table {
    border-collapse: collapse;
    letter-spacing: 0.3vw;
    @include font (1.2vw, 800);
    margin-top: 1vw;

    th {
        height: 3.5vw;
        border-bottom: 2px solid rgb(200, 200, 200);
        text-align: left;
        padding-left: 2.3vw;
        padding-right: 2.3vw;
    }



    input {
        height: 2.3vw;
        border: 2px solid rgb(200, 200, 200);
        outline: none;
        letter-spacing: 0.3vw;
        @include font (1.2vw, 800);
    }

    .warning-input {
        border: 2px solid rgb(212, 57, 57);
    }

    img {
        width: 1.2vw;
        cursor: pointer;
        margin: 0 0.8vw 0 0.8vw;
    }
}